<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kevin.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="eu.kevin.demo.DemoApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/kevin_ic_launcher"
        android:label="@string/config_app_name"
        android:roundIcon="@mipmap/kevin_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="eu.kevin.demo.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="eu.kevin.accounts.accountsession.AccountSessionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect.authorization"
                    android:scheme="kevin" />
            </intent-filter>
        </activity>

        <activity
            android:name="eu.kevin.inapppayments.paymentsession.PaymentSessionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect.payment"
                    android:scheme="kevin" />
            </intent-filter>
        </activity>

    </application>

</manifest>